/*This is the CSS file for the index.html*/
body {
	width: 100%;
	height: auto;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 1.5vmin;
}

/*CSS for the header part*/
.first_header {
	background-color: #f2f2f2;
	padding: 0.4em;
	margin-left: -3em;
	font-weight: bold;
	}

.img_header {
	padding: 20px;
	width: 50%;
	display: table-cell;	
}

#header_text {transform: translateX(-45%);}

header span {
	width: 30%;
	font-size: 20px;
	font-size: 2vw;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: left;			
}

/*CSS for navbar*/
ul.top_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #522414;
}

ul.top_nav li {float: left;}

ul.top_nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

ul.top_nav li a:hover:not(.active) {background-color: #903e23;}

ul.top_nav li a.active {background-color: #4CAF50;}

/*CSS for hero element*/
.hero {
	width: 90%;
	text-align: center;
	vertical-align: middle;
	margin: 5% 5% 5% 5%;
	font-size: 2vw;
	font-size:  4vmin;
}

/*CSS for iframe header*/
.second_header {
	height: 100%;
	background-color: #877d78;
	color: white;
	font-weight: bold;		
	padding: 10px;
	text-transform: uppercase;
}

/*CSS for the iframe*/
iframe {
	width: 100%;
	height: 1100px;
	border: none;	
}

/*CSS for Flex container*/
.flex_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
		
/*Items in the flex container*/
.image_container {
	width: 200px;
	height: auto;
	flex-basis: auto;
	flex-grow: 2;
	flex-shrink: 2;
	padding:  10px;
	margin: 5px;
	border-radius: 5px;
}

.img {
	width: 100%;
}

.flex_wrapper div p {
	width: 100%;
}

/*CSS for the footer and the bar before*/
footer {
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.bar {
	height: 5px;
	width: 100%;
	background-color: #877d78;
	position: sticky;
}

.img_footer {
	margin-top: 1%;
	width: 10%;
}

/*CSS for contactform*/
.forms_container {
	width: 50%;
	background-color: lightgrey;
	border-radius: 10px;	
	padding: 20px;
	margin: 11px;	
}

input[type="text"], input[type="email"] {
	 width:90%;
	 height:25px;
	 line-height:25px;
	 color:#333;
	 background-color:#fff;
	 border:1px solid #236;
	 border-radius:3px;
	 padding:2%;
}

article {padding: 20px;}

/*if the window is resized to small the nav bar switches to vertical*/
@media screen and (max-width: 600px) { 
    
    ul.top_nav li {float: none;}
    
    .header_span_text {display: none;}
    
    .img_header {width: 100%;}
    
    body {font-size: 2.5vmin;}
    
    #forms_container {
    	margin-left: auto;
    	margin-right: auto;
    }
    
    .second_header {text-align: center;}	
}